<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>BEM | Badan Eksekutif Mahasiswa</title>
<th:block th:include="layout :: head"></th:block>
</head>

<body class="hold-transition skin-blue layout-boxed sidebar-mini">

<div class="wrapper">
  <th:block th:include="layout :: main-header"></th:block>
	
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        SIBEM
        <small>Sistem Informasi Badan Eksekutif Mahasiswa</small>
      </h1>
     
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
       
      </ol>
      
    </section>

    <!-- Main content -->
    <section class="content">
   
   			
  		<div class="row">
        <div class="col-md-3">




        </div>
        <!-- /.col -->
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Visi-Misi</a></li>
              <li><a href="#timeline" data-toggle="tab">Struktur Organisasi</a></li>
              <li><a href="#settings" data-toggle="tab">Sejarah BEM</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                <div class="post">
                 
                  <p>
                  <br>  VISI</br>

<br>Menjadi pusat keunggulan yang berperan dalam pemanfaatan teknologi bagi kemajuan bangsa.</br>

 

<br>MISI</br>

    <br>1. Menyelenggarakan dan mengembangkan proses pendidikan yang unggul, berkesinambungan, dan bermanfaat bagi masyarakat.</br>
    <br>2. Mengembangkan, menciptakan dan menyebarkan ilmu pengetahuan dan teknologi.</br>
    <br>3. Meningkatkan peran institut agar mampu menjadi pembaharu kemampuan, keterampilan pilihan rujukan dan
    pengembangan rekayasa karya masyarakat khususnya dalam bidang ilmu pengetahuan dan teknologi.</br>
   <br>4.  Meningkatkan peran nyata kepada masyarakat melalui penerapan tridharma perguruan tinggi.</br>

                  </p>
                 

                </div>
               

              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
      <div class ="md-col-6>"> <img src="/gambar/struktur.png"></img></div>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
            <p> <h4> Sejarah BEM ITDEL </h4>
            <br>DEL dimaknai sebagai `Pemimpin yang Selangkah Lebih Maju`.</br>

<br>Yayasan Del mulai aktif di kegiatan sosial kemasyarakatan jauh sebelum didirikannya PT Toba Sejahtera,</br>
<br> perusahaan yang kemudian menjadi Yayasan Del sebagai tonggak tanggung jawab sosial perusahaan.</br>

<br>Tujuan awal Yayasan Del didirikan adalah untuk memberikan akses pendidikan berkualitas di daerah terpencil </br>
<br>bagi siswa/i berprestasi dengan latar belakang ekonomi yang kurang menguntungkan, yaitu dengan mendirikan Politeknik Informatika Del dan SMA Unggul Del di Laguboti, Sumatera Utara serta Sekolah NOAH di Kalisari, Jakarta Timur.</br>


<br>Tidak hanya berkiprah di bidang pendidikan, Yayasan Del juga aktif bekerjasama dengan pemerintah daerah dan lembaga sosial yang ada di Indonesia untuk meningkatkan pelayanan serta memperluas cakrawala bidang pelayanan strategis lainnya.</br>


<br>Politeknik Informatika Del didirikan pada tahun 2001 dan bertujuan untuk menyediakan pendidikan tinggi berkualitas internasional, bagi siswa/i berpotensi, terutama dengan latar belakang ekonomi yang kurang menguntungkan, khususnya yang berasal dari Sumatera Utara.</br>


<br>Disamping turut berperan sebagai inisiator penggerak pembangunan di Tapanuli, IT Del juga diharapkan dapat menginkubasi lahirnya para technopreneur baru di bidang teknologi informasi.</br>

<br>Dengan lokasi di daerah tepian Danau Toba, berjarak sekitar 400 KM dari kota Medan, area IT Del diharapkan dapat memberikan suasana tenang dan kondusif dalam belajar, karena jauh dari kebisingan dan hiruk pikuk suasana perkotaan/perindustrian.</br>
            </p>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
     

    </section>
    
  </div>
	
  <th:block th:include="layout :: main-sidebar"></th:block>
  <th:block th:include="layout :: main-footer"></th:block>	

</div>

</body>
</html>
